__pycache__    
/utils/*
/adaptativeAndStochastic/*
/Data/*
/deterministic/*
/deterministicAndNonAdaptative/*
/nonAdaptative/*
/Results/*
/test1/*
/test2/*
/tmp/*
/build/*
/dist/*
/venv/*
/.idea/*
/misc/*
testbench.py
resultsdtlz.py
resultAnalysis.py
idxs_*.data
data2csv.py
*.data
/*.egg-info/*